#rubyrails{
  display: none;
}
#cssreact{
  display: none;
}
#cplusdotnet{
  display: none;
}
#thankyou{
  display: none;
}
#dontdoit{
  display: none;
}
img{
  width: 300px;
  margin-bottom: 30px;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body{
  background: #75a6f4;
  font-family: 'Eczar', serif;
}
#formOne{
width: 600px;
margin-bottom: 300px;
display: block;
margin-left: auto;
margin-right: auto;
}
h2{
  text-align: center;
  margin-top: 60px;
  font-family: 'Bungee Inline', cursive;
}
